@import url("views/resources/css/login.css");
@import url("views/resources/css/sidebar.css");
@import url("views/resources/css/home.css");
@import url("views/resources/css/slick.css");
@import url("views/resources/css/boletim.css");
@import url("views/resources/css/bibliotecadigital.css");
@import url("views/resources/css/disciplinas.css");